<div class="contact">
<h1>About us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna elit,
    volutpat in laoreet non, faucibus a nisi. Integer at turpis quis erat consequat
    euismod vitae sed justo. Etiam eu leo nec nisl dictum eleifend. Pellentesque in
    consequat odio. Aliquam molestie nibh sed facilisis mollis. Praesent fermentum
    aliquet sem, at elementum erat luctus in. Sed quis ligula imperdiet, rhoncus ipsum 
    vel, dapibus mauris. Maecenas at velit eu arcu condimentum varius. Phasellus mi leo, 
    efficitur a erat et, viverra dictum turpis. In cursus augue vitae ligula condimentum, 
    ut efficitur risus venenatis. Suspendisse sollicitudin efficitur finibus. Curabitur 
    quis dui tellus. In egestas sollicitudin dui id ultrices. Sed nec elementum sem, et laoreet 
    leo. Cras commodo bibendum diam sed porta.</p>
<h2>Leave a contact request!</h2>

    <form class ="subscription-form" action="/contact/create", method="POST">
        <label for="fname">First Name</label>
        <input type="text"id="fname"name="first"placeholder="Your name...">
        
        <label for="lname">Last Name</label>
        <input type="text"id="lname"name="last"placeholder="Your last name...">
        <label for="email">Email address</label><br>
        <small>(We need your email address for replying. We won't publish your email address.)</small><br>
        <input type="text"id="email"name="email"placeholder="Your email address...">
        
        <label for="feedback">Feedback</label>
        <input type="feedback"id="feedback"name="feedback">
        
        <input type="submit" value="Submit">
    </form>
    
</div>