<div class="contact">
<h1>About us</h1>
<p>We are a group of travel enthusiasts who wanted to create a website for other traverels.
     Our goal is to provide the latest news and tips for others on one site. 
     <br>
     We are still developing the site, and because of that, we don't already have all features in 
     use. If you have any improvements in your mind or any problems with the site (forgotten 
     password etc.), please leave a contact request via the form provided below.
    </p>
<h2>Leave a contact request!</h2>

    <form class ="subscription-form" action="/contact/create", method="POST">
        <label for="fname">First Name</label>
        <input type="text"id="fname"name="first"placeholder="Your name...">
        
        <label for="lname">Last Name</label>
        <input type="text"id="lname"name="last"placeholder="Your last name...">
        <label for="email">Email address</label><br>
        <small>(We need your email address for replying. We won't publish your email address.)</small><br>
        <input type="text"id="email"name="email"placeholder="Your email address...">
        
        <label for="feedback">Feedback</label>
        <input type="feedback"id="feedback"name="feedback">
        
        <input type="submit" value="Submit">
    </form>
    
</div>