<h1>About us</h1>

<h2>Leave a contact request!</h2>
<div class="contact">
    <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text"id="fname"name="firstname"placeholder="Your name...">
        
        <label for="lname">Last Name</label>
        <input type="text"id="lname"name="lastname"placeholder="Your last name...">
        
        <label for="feedback">Feedback</label>
        <input type="feedback"id="feedback"feedback="feedback">
        
        <input type="submit"valie="Submit">
    </form>
    
</div>