
<div class="home">
    <h1>Welcome</h1>

    <p>
        Welcome to our travel website. Here you can find some latest
        news coming around the world from traveling areas and stories
        from our users.
        <br>
        You're welcome to dig around our site. You can create your own
        account and after that, you can find other users using our site.
        If you like or don't like our stories, you're welcome to leave
        a comment in their comment box. The site has also a contact form
        if you like to contact us, we will answer you as soon as possible.
    </p>
</div>