<div class="polaroid">
    <img src="/images/travel.jpg" alt="nav" width="100%" height="337"style="width:100%; height: 337px;">
</div>
<div class="home">
    <h1>Welcome</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam magna elit,
    volutpat in laoreet non, faucibus a nisi. Integer at turpis quis erat consequat
    euismod vitae sed justo. Etiam eu leo nec nisl dictum eleifend. Pellentesque in
    consequat odio. Aliquam molestie nibh sed facilisis mollis. Praesent fermentum
    aliquet sem, at elementum erat luctus in. Sed quis ligula imperdiet, rhoncus ipsum 
    vel, dapibus mauris. Maecenas at velit eu arcu condimentum varius. Phasellus mi leo, 
    efficitur a erat et, viverra dictum turpis. In cursus augue vitae ligula condimentum, 
    ut efficitur risus venenatis. Suspendisse sollicitudin efficitur finibus. Curabitur 
    quis dui tellus. In egestas sollicitudin dui id ultrices. Sed nec elementum sem, et laoreet 
    leo. Cras commodo bibendum diam sed porta.</p>
</div>