<div class="home">
    <div class="polaroid">
        <img src="/images/travel.jpg" alt="nav" style="width:100%">
    </div>
    <h1>Welcome</h1>

    <p>
        Welcome to our travel website. Here you can find some latest
        news coming around the world from travelling area and stories
        from out users.
        <br>
        You're welcome to dig around our site. You can create your own
        account and after that you can find other users using our site.
        If you like or don't like our stories, you're welcome to leave
        a comment to their comment box. The site has also contact form
        if you like to contact us, we will answer to you as soon as possible.
    </p>
</div>