<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/stories">Stories</a></li> 
        <li><a href="/contact">Contact</a></li>
        <li><a href ="/signin">Sign in</a></li>
    </ul>
        <div class="headline">
            <h1 id="title">Traveller's site</h1>
        </div>
        
    
        <div class="container">
            <%- body %>
        </div>
    </body>

</html>