<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/public/css/style.css">

</head>
<body>
    <div id="nav">
        <div class="col-sm nav-align">
            <h1 id="title">Welcome</h1>
        </div>
        <div class="col-sm nav-align">
            <a href="/">
                <span class="button">Home</span>
            </a>
            <a href="/">
                <span class="button">Sign in</span>
            </a>
            <a href="/">
                <span class="button">Contact</span>
            </a>
        </div>
       
    </div>
    <div class ="container">
        <%- body %>
    </div>
</body>
</html>