<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="headline">
        <h1 id="title">Traveller's site</h1>
    </div>

    <div class="topnav"id="links">
        <a href="/">Home</a>
        <a href="/users/new">Create an account</a>
        <a href="/contact">Contact</a>
        <a href="/news">News</a>
        <a href="/stories">Stories</a>
        <a href="javascript:void(1);"class="icon"onclick="myFunction()">
            <i class ="fa fa-bars"></i></a>
            
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("links");
            if (x.className === "topnav") {
                x.className += "responsive";
            } else {
                x.className = "topnav";
            }
        }
        </script>




    <div class="login-status">
        <% if (loggedIn) { %>
            <div class="bubble logged-in">
                Logged in as <%= currentUser.userName %>
            </div>
            <div class="log-out">
                <a href="/users/logout">Log out</a>
            </div>
            <%} else {%>
                <div class="bubble log-in">
                    <a href="/users/login">Log In</a>
                </div>
                <% } %>
    </div>

    <div class="flash">
        <% if (flashMessages) { %>
            <% if (flashMessages.success) { %>
                <div class="flash success">
                    <%= flashMessages.success %>
                </div>
                <% } else if (flashMessages.error) { %>
                    <div class="flash error">
                        <%= flashMessages.error %>
                    </div>
                    <% } %>
                        <% } %>
    </div>

    <div class="container">
        <%- body %>
    </div>
    <div class="Footer">
        <p>Ⓒ Traveller's site 2023</p>
    </div>
</body>

</html>