<div class="news">
    <h1>Travel News</h1>

    <p>Here is the latest and hottest news from travelling area:</p>
    <div class="news-article">
        <h2>New hotels in Helsinki</h2>
        <p>In Helsinki metropolia-area has been built new hotels by the most popular hotel companies.</p>
      </div>

      <div class="news-article">
        <h2>This popular Italian region is imposing restrictions on tourists</h2>
        <p>The autonomous region of Alto Adige, also known as Bolzano - South Tyrol, 
          in the north of the country, has introduced a limit on overnight visitors, 
          capping numbers to 2019 levels and imposing a ban on any new accommodation 
          openings - unless another has closed.</p>
      </div>

      <div class="news-article">
        <h2>European travel strikes in April and May: When are they and what can you expect?</h2>
        <p>Europe is a hive of strike action right now, with many employees unhappy that sky-high 
          inflation has not been matched by higher wages.
          <br>Walkouts are planned all over Europe, showing that it always pays to check before you travel.</p>
      </div>
    <p></p>
</div>