<div class="stories">
    <h1>Travel Stories</h1>
  
    <p>Here are some travel experiences and stories that we'd like to share with you:</p>
  
    <div class="story">
      <h2>My Trip to Japan</h2>
      <p>Last year, I visited Japan for the first time and it was an amazing experience. From the bustling streets of Tokyo to the serene temples in Kyoto, every moment was unforgettable. I even tried some new foods that I never thought I would enjoy, like sushi and matcha-flavored everything. I can't wait to go back someday!</p>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/japan2.jpg"alt="Cinque Terre" width="600"height="400">
        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/japan.jpg"alt="Cinque Terre" width="600"height="400">
         </div>
      </div>
      
      <h3>Leave a comment:</h3>
      <form id="japan">
        <textarea name="comment" id="comment" rows="3" ></textarea>
        <input type="submit" value="Submit" onclick="clicked()">
      </form>
      <div id="comments"></div>
    </div>
  
    <div class="story">
      <h2>Camping in the Mountains</h2>
      <p>A few years ago, I went camping in the mountains with some friends. It was a challenging hike to get to the campsite, but the view was totally worth it. We spent the days hiking and exploring the area, and at night we made a campfire and roasted marshmallows. It was a great way to disconnect from technology and enjoy nature.</p>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/mountains.jpg"alt="Cinque Terre" width="600"height="400">

        </div>
      </div>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/mountains2.jpg"alt="Cinque Terre" width="600"height="400">
        </div>
      </div>
      
      <h3>Leave a comment:</h3>
      <form id="mountains">
        <textarea name="comment" id="commentM" rows="3"></textarea>
        <input type="submit" value="Submit" onclick="clicked2()">
      </form>
      <div id="mountainComments"></div>
    </div>
  
    <div class="story">
      <h2><br>A Road Trip Across the USA</h2>
      <p>Last summer, I went on a road trip across the USA with my family. We drove through so many different states and saw so many different landscapes, from the beaches of California to the deserts of Arizona to the mountains of Colorado. It was a long trip, but we made so many great memories along the way.</p>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/usa.jpg"alt="Cinque Terre" width="600"height="400">
          </div>
      </div>
      <div class="responsive">
        <div class="gallery">
            <img src ="/images/usa2.jpg"alt="Cinque Terre" width="600"height="400">
        </div>
      </div>
      <h3>Leave a comment:</h3>
      <form id="roadtrip">
        <textarea name="comment" id="commentR" rows="3"></textarea>
        <input type="submit" value="Submit" onclick="clicked3()">
      </form>
      <div id="roadComments"></div>
    </div>
  
  </div>

<script>
   function clicked(){
      let p = document.createElement("br");
      var japmes =  document.getElementById("comment").value;
      document.getElementById("comments").append(japmes, p);
      document.getElementById("comment").value = "";
      event.preventDefault(); 
    }
    function clicked2(){
      let p = document.createElement("br");
      var mountmes = document.getElementById("commentM").value;
      document.getElementById("mountainComments").append(mountmes, p); 
      document.getElementById("commentM").value = "";
      event.preventDefault();
    }
    function clicked3(){
      let p = document.createElement("br");
      var roadmes = document.getElementById("commentR").value;
      document.getElementById("roadComments").append(roadmes, p);
      document.getElementById("commentR").value = "";
      event.preventDefault();
    }
   
    
</script>  