@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
    margin:0;
    padding-top: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #625a56;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #22b957;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    float: left;
    
}
.active{
    background-color:#2c8f4f;
}
li a:hover:not(.active){
    background-color:#17d158;
}
div.headline {
    text-align: center;
    padding: 3px 0;
}

#title {
    color: #625a56;
    margin: 0;
    font-family: "Baloo Bhaina";
    text-transform: uppercase;
}

img {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
}




.container {
    padding: 0% 10%;
}


.button:hover {
    background-color: #63d68b;
}

.home{
    margin:0;
    padding: 2% 10%;
}

div.polaroid {
    width: 100%;
    margin-bottom: 0px;
  }
