@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
    margin:0;
    padding-top: 100px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #010101;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #010101;
    position: fixed;
    top: 0;
    width: 100%;
}
li{
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 50px;
    text-decoration: none;
    float: left;
    
}
.active{
    background-color:#272a28;
}
li a:hover:not(.active){
    background-color:#272a28;
}

div.headline {
    text-align: center;
    padding: 3px 0;
}
#title {
    color: #010101;
    margin: 0;
    font-family: "Baloo Bhaina";
    text-transform: uppercase;
}
img {
    width: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
.container {
    padding: 0% 10%;
}

.home{
    margin:0;
    padding: 2% 10%;
}
.stories{
    margin:0;
    padding: 2% 10%;
}
.thanks{
    margin:0;
    padding: 2% 10%;
}

div.polaroid {
    width: 100%;
    margin-bottom: 0px;
}
.hidden-text {
    -webkit-text-security: disc;
  }
  
  .flash {
    background: rgba(68, 69, 75, 0.7);
    color:white;
    width: 100%;
    text-align: center;
    padding: 5px 0 3px 0;
    position: absolute;
    top: 15%;
    
  }
  
  .error {
    background: rgba(209, 46, 42, 0.7);
  }
  
  .login-status {
    position: absolute;
    right: 10px;
    top: 10%;
  }
  
  .log-out {
    position: absolute;
    right: 10px;
  }
  
  .login-status .bubble {
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: #010101;
    top: 0;
    width: 100%;
    margin: 0;
  }
  .login-status .bubble a{
    color: white;

  }
  .table {
    width: 100%;
    padding: 0 30px;
    border: 3px solid #010101;
    border-radius: 1px; 
}

.table th {
    margin: 0%;
    text-align: left;
}

.subscription-form input {
    display: block;
    margin-bottom: 0.5%;
    margin-top: 0.1%;
}

.list-container {
    padding: 0 5%;
    
}
