<div class="createaccount">
<h2>Users Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>User name</th>
      <th>Online</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td><%= user.userName %></td>
      <td><% if (loggedIn && currentUser.userName===user.userName) { %>
        &#9989;
   
    <%} else {%>
        &#10060;
        <% } %>
    </td>
    </tr> 
    <% }); %>   
  </tbody>
</table>
</div>