<div class="list-container">
    <form action="/users/login" method="POST">
    <h2>Login:</h2>
    <label for="inputUsername">User name</label>
    <input type="text" name="userName" id="inputUserName" placeholder="User name" required>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>
    <button class="button" type="submit">Login</button>
    </form>
</div>