<div class="createaccount">
<div>
    <form class="subscription-form" action="/users/create" method="POST">
      <h2>Create a new user:</h2>
      <label for="inputName">Name</label>
      <input type="text" name="name" id="inputName" placeholder="Name" autofocus>
      <label for="inputUsername">User name</label>
      <input type="text" name="userName" id="inputUserName" placeholder="Username" required>
      <label for="inputPassword">Password<br></label>
      <input type="password" name="password" id="inputPassword"  placeholder="Password" required>
      <label for="inputEmail"><br>Email address<br></label>
      <input type="email" name="email" id="inputEmail" placeholder="Email address" required>
      <label for="inputAge"><br>Age</label>
      <small>(You must be 18 years or older to create an acount)</small> <br>
      <input type="number" min="18" name="age" id="inputAge" placeholder="Age" pattern="\d+">
      <input type="submit" value="Submit">
      <br>
    </form>
</div>
</div>